[Desktop Entry]
Type=Application
Name=mpv-handler
GenericName=Multimedia player
Comment=Play website videos and songs with mpv & yt-dlp
NoDisplay=true
Icon=mpv
Exec=mpv-handler %u
Terminal=false
Categories=AudioVideo;Audio;Video;Player;TV;
MimeType=x-scheme-handler/mpv;
X-KDE-Protocols=mpv
