[Desktop Entry]
Type=Application
Name=Play with mpv handler
GenericName=Multimedia player
Comment=Play website videos and songs with mpv & youtube-dl
NoDisplay=true
Icon=mpv
Exec=mpv-handler %u
Terminal=true
Categories=AudioVideo;Audio;Video;Player;TV;
MimeType=x-scheme-handler/mpv;
X-KDE-Protocols=mpv
